.app__home{
    width: 100vw;
    height: 100vh;
    background: url('../assests/room.jpg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
}

.home__context{
    padding-top: 10%;
    margin-bottom: 18%;
}

.home__searchbar{
    width: 60%;
    height: 16%;
    border: 1px solid white;
    background: rgb(135, 179, 47);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    opacity: 0.8;
}

.home__searchbar__city,
.home__searchbar__dates,
.home__searchbar__guests,
.home__searchbar__searchbutton
{
z-index: 11;    
display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 160px;
    background-color: white;
    border-radius: 15px;
    align-items: flex-start;
    padding: 4px;
}

label,select, input{
    margin-left: 10px;
}


